---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Travels'
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h1 class='text-3xl tracking-widest text-center py-8'>Favorite Travels</h1>
  </section>

  <p>
    Yellowstone National Park June, 2022 Grand Prismatic Bison Calcite Springs Black Bear Glacier
    National Park July 2022 Hike to Saint Mary Falls Virginia Falls Bald Eagle Purple mountain
    majesty and flowers everywhere
  </p>
</BaseLayout>
