---
import Navigation from './Navigation.astro'
---

<header>
  <div>
    <a href='/'>
      <img src='/van-reflection-sunset.jpeg' alt='Banner' />
    </a>
    <p>Having a goodnight on the trail</p>
  </div>
  <Navigation />
</header>
